<% layout("/layouts/boilerplate.ejs") %>
<body>
        <h1 class="mt-3 mb-2">All Listings</h1>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-links">
                    <div class="card">
                        <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height:18rem;">

                        <!-- // trying to implment heart icon above the listing image so people can like the images or listings -->
                        <div class="card-img-overlay">
                                <i class="fa-regular fa-heart"></i>
                        </div>                    

                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <!-- .toLocaleString("en-IN") => doesn't work with 
                             "listing.price.toLocaleString("en-IN")" -->

                             <!-- It is fine -->
                            <p class="card-text">&#8377 <%= listing.price.toLocaleString(`en-IN`) %>/ night</p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
</body>
